$fnt: 'Source Code Pro';
$bckgrnd: #fff;
$hdrclr: #29c5ff;
$good: #00c838;
$bad: #d20000;
$gry: #ececec;

body {
	background-color: $bckgrnd;
	padding: 5px;
	padding-bottom: 10px;
	padding-top: 1px;
	text-align: center;
}

h1 {
	background-color: $hdrclr;
	padding: 5px;
	padding-top: .1px;
}


ul {
	list-style-type: none;
}

#true {
	background-color: $good;
	color: $gry;
}

#false {
	background-color: $bad;
	color: $gry;
}

#btn {
	display: inline;
	padding: 15px;
	text-align: center;
}

#record {
	display: block;
	text-align: left;
}

#input {
	background-color: $gry;
}

#output {
	background-color: $good;
	text-align: left;
	display: block;
}
